html{
  line-height: 1.2em;
  font-family: tahoma;
  font-size: 15px;
}

label {
  display: block;
  background-color: #FF5733;
  color:white;
  text-align:center;
}

@media screen and (min-width: 400px){
  label{
	  display: inline-block;
	  color: white;
	  background-color: #FF5733;
	  margin-right: 5px;
	  font-size: 40px;
  }
  div{
  	display:inline;
  }
}